<header>
  <ul>
    <li class="fas fa-trash"></li>
    <li class="fas fa-cog"></li>
    <li class="fas fa-plus"></li>
  </ul>
</header>

<div class="wrapper">

  <aside>
    <ul>
      <li>
        <p class="groupName">グループEXP</p>
        <p class="description">はじめました</p>
        <p class="name">Rubyの父</p>
      </li>

      <li>
        <p class="groupName">グループEXP</p>
        <p class="description">はじめました</p>
        <p class="name">Rubyの父</p>
      </li>

      <li>
        <p class="groupName">グループEXP</p>
        <p class="description">はじめました</p>
        <p class="name">Rubyの父</p>
      </li>
    </ul>
  </aside>

  <main class="main">
    <ul class="main__groups">
      <li class="main__groups__massages">
        <ul>
          <li>最近暑い</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
        </ul>
        <p>komatta 2018/08/01 11:50</p>
      </li>

      <li class="main__groups__massages">
        <ul>
          <li>最近暑い</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
        </ul>
        <p>komatta 2018/08/01 11:50</p>
      </li>

      <li class="main__groups__massages">
        <ul>
          <li>最近暑い</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
          <li>アイスは火曜日に新商品が出るらしい</li>
        </ul>
        <p>komatta 2018/08/01 11:50</p>
      </li>

    </ul>

    <footer>
      <form>
        <input type="text" class="inputBox">
        <input type="submit" value="POST" class="btn">
      </form>
    </footer>

  </main>

</div>





