//リセット
* {
  box-sizing: border-box;
  // width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
// body,div,p,ul,ol,li,header,footer,nav,aside,main
// ,h1,h2,h3,h4,h5,h6,a,img
// {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


header{
  background: #666666ad;
  width: 100%;
  height: 50px;
  color: #000;
  @include flex;
  justify-content: flex-end;
  ul{
    li{
      margin: 0 10px;
    }
    .fa-plus{
      color: white;
    }
  }
}

.wrapper{
  @include flex;
}

aside{
  background: #BCBDBD;
  width: 300px;
  height: calc(100vh - 50px);
  padding: 20px 10px;
  ul{
    li{
      background: #CDCDCD;
      padding: 5px;
      margin: 0 0 10px;
      p{
        margin: 0 0 5px ;
      }
    }
  }
}

.main{
  background: #CDCDCD;
  width: calc(100% - 300px);
  height: calc(100vh - 50px);
  &__groups{
    height: calc(100% - 50px);
    &__massages{
      background: #EFEFEF;
      ul{
        li{
        }
      }
      p{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  footer{
    background: #666666;
    height: 50px;
    form{
      @include flex;
      .inputBox{
        width: calc(100% - 120px);
      }
      .btn{
        width: 80px;
      }
    }
  }
}
